<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
   <aside class="aside" th:fragment="left">
      <div class="aside-inner">
         <nav class="sidebar" data-sidebar-anyclick-close="">
            <ul class="nav">
               <li class="has-user-block">
                  <div>
                     <div class="item user-block">
                        <div class="user-block-picture">
<!--                            <div class="user-block-status">
                              <a href="javascript:void(0);" th:onclick="'locationUrl(\'/user/'+${user.id}+'/0\',\'\');'">
                                 <img alt="" class="img-thumbnail img-circle"  th:src="${user.profilePicture == null?'img/favicon.png':user.profilePicture}" id="leftProfilePicture"/></a>
                              <div class="circle circle-success circle-lg"></div>
                           </div> -->
                        </div>
                        <div class="user-block-info">
                         <!--   <div class="user-block-name" th:text="'欢迎  '+${user.userName}" id="leftUserName">欢迎 欢迎</div> -->
<!--                            <div class="user-block-role" th:text="${user.introduction == null ? '暂无简介' : user.introduction.length() gt 10 ? user.introduction.substring(0,10)+'...' : user.introduction}" id="leftIntroduction">暂无简介</div>
 -->                        </div>
                     </div>
                  </div>
               </li>
               <li class=" " id="explore" >
                  <a title="发现" href="javascript:void(0);"  onclick="locationUrl('/standard/explore/0','explore')">
                     <em class="icon-compass"></em>
                     <span>发现</span>
                  </a>
               </li>
               

            </ul>
         </nav>
      </div>
   </aside>
</body>
</html>

